body {
  font: "Helvetica-Neue-LT-Std-Lt"; }

.main {
  margin-top: -1px;
  vertical-align: middle; }

.main button {
  vertical-align: middle; }

.navbar ul {
  border-bottom: 1px solid #DD67EB; }

.navbar li {
  margin-right: 35px; }

.main a {
  vertical-align: middle; }

.profile-link img {
  height: 35px;
  width: 35px;
  border-radius: 50%; }

.profile-log {
  display: inline-block;
  padding: 17px; }

.profile-log:hover {
  background-color: #8c8c8c;
  transition: all ease-out 0.5s; }

.VipButton {
  background: linear-gradient(to right, #ffd025, #e9b400);
  color: black;
  width: 120px;
  height: 30px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-style: none; }

.Show {
  border-style: none;
  color: black;
  font-size: 18px;
  font-weight: 300; }

.main .glyphicon:hover {
  color: #e177ec;
  transition: all ease-out 0.3s; }

.main button:hover {
  color: #e177ec;
  transition: all ease-out 0.3s; }

.Messages {
  border-style: none;
  color: black;
  font-size: 18px;
  font-weight: 300; }

.Likes {
  border-style: none;
  color: black;
  font-size: 18px;
  font-weight: 300; }

.Credits {
  border-style: none;
  border-radius: 3px;
  background-color: #C2C2C2;
  color: white;
  padding: 4px 9px; }

.glyphicon.glyphicon-star-empty {
  font-size: 20px;
  font-weight: bold; }

.glyphicon.glyphicon-user {
  color: #ccc; }

.glyphicon.glyphicon-envelope {
  color: #ccc; }

.glyphicon.glyphicon-heart {
  color: #ccc; }

.navbar li {
  display: inline;
  list-style-type: none; }

.navbar {
  text-align: center; }

.Vipgirls {
  background: linear-gradient(#fff, #f1f1f1);
  height: 300px;
  border-bottom: 1px solid #ccc; }

.girls img {
  height: 200px;
  width: 120px;
  border-radius: 7px;
  border-color: none; }

.girls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin-left: 350px; }

.girls img:hover {
  transform: scale(1.1);
  transition: transform .3s; }

.main-girls {
  background: #d9d9d9;
  padding-top: 25px; }

.submain-girls {
  display: flex;
  flex-direction: row; }

.submain-girls {
  margin: 0px 150px 30px 150px;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  border-radius: 6px; }

.submain-girls img {
  border-color: #ffd025;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  width: 300px;
  height: 400px;
  margin-left: 10px;
  margin-top: 25px; }

.Send {
  background-color: #e177ec;
  border-radius: 5px;
  margin-left: 20px;
  border-style: none;
  zoom: 150%; }

.info {
  margin-right: -50px; }

.info-about {
  border-bottom: 1px solid #ccc;
  margin-top: 40px;
  margin-left: 30px;
  padding-bottom: 10px;
  padding-left: 10px; }

.info span {
  letter-spacing: 1px; }

.personal-info {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 10px; }

.info span {
  font-size: 18px;
  font-weight: 300; }

.info-about span {
  margin-left: 10px; }

.personal-info span {
  margin-left: 10px; }

.buttons {
  margin-top: 150px;
  margin-left: 100px; }

.Invite {
  background-color: #e177ec;
  border-radius: 5px;
  border-style: none;
  zoom: 150%; }

.girlsrating {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
  height: 330px;
  background-color: #fff;
  position: relative; }

.girlsrating img {
  width: 148px;
  height: 300px;
  padding-bottom: 62px;
  border-radius: 5px; }

.girlsrating-down {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  font-size: 16px; }

.girlsrating-down p {
  margin-left: 3px;
  color: #ccc; }

.girlsrating-down span {
  color: #ccc; }

.check {
  float: right;
  margin-right: 5px; }

.girlrating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
  padding-bottom: 50px; }

.heart {
  margin-left: 5px;
  display: inline-block; }

.footer {
  border-top: 2px solid #DD67EB; }

.footerpic {
  display: flex;
  justify-content: center;
  margin: 5px 5px; }

.footer hr {
  width: 82%; }

.footerlinks p {
  margin-left: 150px; }

.footerlinks a {
  color: #1a1a1a;
  font-weight: 350; }

.copyright {
  margin-left: 150px;
  margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
