.main {
  margin-top: -1px;
  vertical-align: middle; }

.main button {
  vertical-align: middle; }

.navbar ul {
  border-bottom: 1px solid #DD67EB; }

.navbar li {
  margin-right: 35px; }

.main a {
  vertical-align: middle; }

.profile-link img {
  height: 35px;
  width: 35px;
  border-radius: 50%; }

.profile-log {
  display: inline-block;
  padding: 17px; }

.profile-log:hover {
  background-color: #8c8c8c;
  transition: all ease-out 0.5s; }

.VipButton {
  background: linear-gradient(to right, #ffd025, #e9b400);
  color: black;
  width: 120px;
  height: 30px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-style: none; }

.VipButton:hover {
  border: 1px solid #000; }

.Show {
  border-style: none;
  color: #ccc;
  font-size: 18px;
  font-weight: 350; }

.main button:hover {
  color: #e177ec;
  transition: all ease-out 0.2s; }

.Messages {
  border-style: none;
  color: #ccc;
  font-size: 18px;
  font-weight: 350; }

.Likes {
  border-style: none;
  color: #ccc;
  font-size: 18px;
  font-weight: 350; }

.Credits {
  border-style: none;
  border-radius: 3px;
  background-color: #C2C2C2;
  color: white;
  padding: 4px 9px; }

.navbar li {
  display: inline;
  list-style-type: none; }

.navbar {
  text-align: center; }

.Vipgirls {
  background: linear-gradient(#fff, #f1f1f1);
  height: 300px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center; }

.girls img {
  height: 200px;
  width: 120px;
  border-radius: 7px;
  border-color: none;
  margin-right: 25px; }

.border-girl img {
  object-fit: cover; }

.girls img:hover {
  transform: scale(1.1);
  transition: transform .3s; }

.recommended {
  margin-bottom: 20px;
  text-align: center; }

.recommended span {
  font-size: 25px;
  color: #e177ec; }

.main-girls {
  background: #d9d9d9;
  padding-top: 25px; }

.submain-girls {
  display: flex;
  flex-direction: row; }

.submain-girls {
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  width: auto;
  margin: 50px; }

.submain-girls img {
  border-color: #ffd025;
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  width: 300px;
  height: 400px;
  margin-left: 10px;
  margin-top: 25px; }

.Send {
  background-color: #e177ec;
  border-radius: 5px;
  margin-left: 20px;
  border-style: none;
  zoom: 150%;
  color: white; }

.info {
  margin-right: -50px; }

.info-about {
  border-bottom: 1px solid #ccc;
  margin-top: 40px;
  margin-left: 30px;
  padding-bottom: 10px;
  padding-left: 10px; }

.info span {
  letter-spacing: 1px; }

.personal-info {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 10px; }

.info span {
  font-size: 18px;
  font-weight: 300; }

.info-about span {
  margin-left: 10px; }

.personal-info span {
  margin-left: 10px; }

.buttons {
  margin-top: 150px;
  margin-left: 100px; }

.Invite {
  background-color: #e177ec;
  border-radius: 5px;
  border-style: none;
  zoom: 150%;
  color: white; }

.girlsrating {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
  height: 330px;
  background-color: #fff;
  position: relative; }

.girlsrating img {
  width: 148px;
  height: 300px;
  padding-bottom: 62px;
  border-radius: 5px;
  object-fit: cover; }

.girlsrating-down {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  font-size: 16px; }

.girlsrating-down p {
  margin-left: 3px;
  color: #ccc; }

.girlsrating-down span {
  color: #ccc; }

.check {
  float: right;
  margin-right: 5px; }

.girlrating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 1000px; }

.heart {
  margin-left: 5px;
  display: inline-block; }

.footer {
  border-top: 2px solid #DD67EB; }

.footerpic {
  display: flex;
  justify-content: center;
  margin: 5px 5px; }

.footer hr {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 15px; }

.footerlinks {
  width: 1000px;
  margin: 0 auto; }

.footerlinks a {
  color: #1a1a1a;
  font-weight: 350; }

.copyright {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 20px 0; }

/* Responsive media  */
@media (max-width: 1053px) {
  .Vipgirls {
    height: 450px; }

  .girls img {
    margin-top: 20px;
    margin-left: 15px; }

  .buttons button {
    align-items: center; } }
@media (max-width: 687px) {
  .Vipgirls {
    height: 680px; }

  .submain-girls {
    margin: 15px; } }
@media (max-width: 503px) {
  .Vipgirls {
    height: 900px; } }
@media (max-width: 1345px) {
  .Send {
    margin-top: 30px; }

  .Invite {
    margin-left: 20px; } }
@media (max-width: 872px) {
  .buttons {
    margin: 120px 20px 0 10px; }

  .div-girls img {
    zoom: 60%; }

  .buttons button {
    zoom: 120%; } }
@media (max-width: 915px) {
  .girlrating {
    display: flex;
    width: auto;
    flex-wrap: wrap; }

  .girlsrating {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; } }
@media (min-width: 950px) and (max-width: 1250px) {
  .submain-girls {
    width: auto;
    margin-left: 150px;
    margin-right: 150px; } }
@media (min-width: 1250px) and (max-width: 9999px) {
  .submain-girls {
    width: 1000px;
    margin: 0 auto; } }
@media (min-width: 400px) and (max-width: 999px) {
  .girls {
    margin-left: 20px; } }

/*# sourceMappingURL=style.css.map */
